In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Customer Score March.csv')
dfc = pd.read_excel('2.xlsx')

In [3]:
# dfc drop duplicates and keep last record
# join df, dfc
# output csv

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3281 entries, 0 to 3280
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             3281 non-null   int64
 1   Company Name   3281 non-null   object
 2   Frequency      3281 non-null   int64
 3   Recency        3281 non-null   int64
 4   Monetary       3281 non-null   int64
 5   Overall Score  3281 non-null   object
dtypes: int64(4), object(2)
memory usage: 153.9+ KB

In [5]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 603 entries, 0 to 602
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID             603 non-null    int64
 1   Company Name   603 non-null    object
 2   Frequency      603 non-null    int64
 3   Recency        603 non-null    int64
 4   Monetary       603 non-null    int64
 5   Overall Score  603 non-null    object
dtypes: int64(4), object(2)
memory usage: 28.4+ KB

In [6]:
dfc = dfc.drop_duplicates(subset=['ID'], keep='last')

In [7]:
df1=df.append(dfc)

In [8]:
df1 = df1.drop_duplicates(subset=['ID'], keep='last')

In [9]:
df1

,ID,Company Name,Frequency,Recency,Monetary,Overall Score
0,10000,DNP International,1,1,1,Lost
1,10001,Stuart Products Inc,1,1,1,Lost
2,10002,Cosmo Pharm Inc,3,5,4,Loyal Customer
3,10003,Universal Nutrition,1,1,1,Lost
4,10008,Great American Natural Product,1,1,1,Lost
...,...,...,...,...,...,...
598,11795,General Research Labs Inc,3,5,4,Loyal Customer
599,12970,AMF Pharma LLC,3,5,4,Loyal Customer
600,13330,Aviva Naturals Corp,4,5,4,Loyal Customer
601,14683,"Impact Nutrition, LLC",3,5,3,Potential Loyalist
602,15513,Health Natura,3,5,3,Potential Loyalist

In [10]:
df1.to_csv("Customer Score Feb.csv",index=False)