In [1]:
# Download the top10 master item dataset
# join with master item info

In [2]:
import numpy as np
import pandas as pd
# import openpyxl
# from openpyxl.styles import Font, Alignment, Border, Side, PatternFill

In [3]:
# import reference table and daily file
df10 = pd.read_csv("Top 10 Master Item Sold (weekly).csv",
                   usecols=['Master Item', 'Amount','Amount (Net)','Quantity'])
df_m = pd.read_csv('Master Item Info.csv',usecols=['ID', 'Name'])

In [4]:
df10 = df10.dropna(subset=['Master Item'])
df10['Amount'] = df10['Amount'].str.replace(r'\$|,', '', regex=True).astype(float)
df10['Amount (Net)'] = df10['Amount (Net)'].str.replace(r'\$|,', '', regex=True).astype(float)
df10['Master Item'] = df10['Master Item'].astype(int)

In [5]:
# Group by
df_g = df10.loc[:,['Master Item', 'Amount']]
df_g = df_g.groupby('Master Item').sum().sort_values(by='Amount', ascending=False).head(10)
df_g

               Amount
Master Item
13650        240387.5
70020        130860.0
63800         76487.0
34360         59925.0
13663         51087.5
13661         46990.0
69585         36310.0
11940         36035.0
70310         36012.5
42640         33680.0

In [6]:
# publishers.groupby('Publisher').sum().sort_values(by='NA_Sales', ascending=False).head(10)
df = pd.merge(df_g,df_m,right_on='ID',left_index=True,how='left')

In [7]:
df.columns

Index(['Amount', 'ID', 'Name'], dtype='object')

In [8]:
df = df[['Name']]

In [9]:
df.to_excel("Top 10 Master Item Report.xlsx",float_format = '%.5f',index=False)

In [10]:
print('''
Top 10 Master Item Sold (weekly)

Hello Tiffany,

The top 10 Master Item Sold during last week showing as below.



Let me know if you have any questions.


Thank you,
Jing
''')

Top 10 Master Item Sold (weekly)

Hello Tiffany,

The top 10 Master Item Sold during last week showing as below.



Let me know if you have any questions.


Thank you,
Jing